# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Dev
**/debug.js
.env

# Testing
/coverage
## Firebase
firebase-debug.log*
firestore-debug.log*
.firebase/

# Tooling
npm-debug.log*
yarn-debug.log*
yarn-error.log*
